VITE_SUPABASE_PROJECT_ID="hcfxyulybcuoabxmfodm" 
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_LeiCyrLVfBSp5XeC_eR2Hw_Qk5LQji1" 
VITE_SUPABASE_URL="https://hcfxyulybcuoabxmfodm.supabase.co" 
VITE_OPENAI_API_KEY=your_openai_api_key_here