VITE_SUPABASE_PROJECT_ID="hcfxyulybcuoabxmfodm"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_LeiCyrLVfBSp5XeC_eR2Hw_Qk5LQji1"
VITE_SUPABASE_URL="https://hcfxyulybcuoabxmfodm.supabase.co"
GROQ_API_KEY=your_groq_api_key_here